@charset "utf-8";
/* CSS Document */
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}
body{
	overflow-x: hidden;
	min-height: 1000px;
}
header
{
	position:fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	z-index: 10000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s;
}

header.sticky
{
	background: #fff;
	padding: 10px 100px;
	box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

header .logo
{
	color: #FFFFFF;
	font-weight: 700;
	font-size: 2em;
	text-decoration: none;
}

header.sticky .logo
{
	color: #111;
}

header .logo span
{
	color: #ff0157;
}

header .navigation 
{
	position: relative;
	display: flex;
}
header .navigation li
{
	list-style: none;
	margin-left: 30px;
}
header .navigation li a
{
	text-decoration: none;
	color: #FFFFFF;
	font-weight: 300;
}
header.sticky .navigation li a
{
	color: #111;
}
header .navigation li a:hover
{
	color: #ff0157;
}
.banner
{
	position: relative;
	width: 100%;
	height: 100vh;
	background:#3475ca;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.25;
}
.banner .content 
{
	position: relative;
	max-width: 750px;
	text-align: center;
}
.banner .content h2
{
	color: #FFFFFF;
	font-size: 60px;
}
.banner .content p
{
	color: #FFFFFF;
	font-size: 18px;
}
.banner header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10000;
}
.banner header .logo
{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
}
.banner header .toggle
{
	position: relative;
	width: 36px;
	height: 28px;
	background: url("assets/toggle.png");
	background-size: cover;
	cursor: pointer;
}

.about
{
	position: relative;
	width: 100%;
	display: flex;
	background:  #162C3B;
}
.about .contentBx
{
	background:  #162C3B;
	padding: 100px;
	width: 50%;
}
.heading 
{
	position: relative;
	color: #FFFFFF;
	font-size: 30px;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 10px;
}
.text
{
	position: relative;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 1px;
}
.about .imgBx
{
	position: relative;
	background: url("assets/window.jpg");
	width: 50%;
	background-size:cover;
	background-position: center;
}
.services
{
	background: #12222d;
	padding: 100px;
	text-align: center;
}
.services .container
{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 60px;
}
.services .container .serviceBx
{
	position:relative;
	background: #fff;
	width: 350px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index:1;
}
.services .container .serviceBx img
{
	max-width: 100px;
}

.services .container .serviceBx h2
{
	font-weight:500;
	font-size: 20px;
	letter-spacing: 1px;
}
.technology
{
	background: #3f8ffc;
	width: 100%;
	padding: 100px;
	padding-top: 300px;
	margin-top:-300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.technology .contentBx
{
	position:relative;
	max-width: 800px;
}
.technology .imgBx
{
	position: relative;
	max-width: 250px;
}
.technology .imgBx img
{	
	max-width: 100%;
}
.client
{
	position: relative;
	background: #162c3b;
	padding: 100px;
	text-align: center;
}
.client .imgBx
{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-self: center;
	flex-wrap: wrap;
	margin-top: 40px;
}
.client .imgBx img
{
	max-width: 200px;
	margin: 20px;
	opacity: 0.25;
	cursor: pointer;
}
.client .imgBx img:hover
{
	opacity: 1;
}
.testimonials
{
	position: relative;
	padding: 100px;
	background: #12222d;
	text-align: center;
}
.testimonials .container
{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 40px;
	flex-wrap: wrap;
}
.testimonials .container .contentBx
{
	position: relative;
	background: #FFFFFF;
	padding:  60px 50px;
	width: 550px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
}
.testimonials .container .contentBx h3
{
	width: 100%;
	text-align: end;
	font-weight: 500;
	color: #3f8ffc;
}
.contact
{
	padding: 100px;
	background: #162c3b;
	text-align: center;
}
.imgBx2
{
	background: url(assets/bg2.jpg);
	background-size: cover;
	background-position: center;
	width: 50%;
}
.redbg
{
	background: url(assets/red.jpg) !important;
	background-size: cover;
	background-position: center;
}
.form .inputBx
{
	margin-bottom: 40px;	
}
.form .inputBx input
{
	width: 100%;
	background: transparent;
	box-shadow: none;
	border: none;
	outline: none;
	padding: 10px 0;
	font-size: 18px;
	font-weight: 300;
	color: #FFFFFF;
	border-bottom: 2px solid #FFFFFF;
}
.form .inputBx input::placeholder
{
	color: #FFFFFF;
}

.form .inputBx textarea
{
	width: 100%;
	background: transparent;
	box-shadow: none;
	border: none;
	outline: none;
	padding: 10px 0;
	font-size: 18px;
	font-weight: 300;
	color: #FFFFFF;
	height: 150px;
	border-bottom: 2px solid #FFFFFF;
}
.form .inputBx textarea::placeholder
{
	color: #FFFFFF;
}

.form .inputBx input[type="submit"]
{
	width: 150px;
	background: #FFFFFF;
	color: #111111;
	cursor: pointer;
	font-weight: 400px;
}

.footer
{
	background: #162c3b;
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer ul
{
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer ul li
{
	list-style: none;
}
.footer ul li a
{
	text-decoration:none;
	display: inline-block;
	margin: 0 10px;
}
.footer ul li a img
{
	filter: invert(1);
	max-width: 20px;
}
@media (max-width: 991px)
{
	header,
	header.sticky
	{
		padding: 20px 20px;
	}
	header .navigation
	{
		display: none;
	}
	header .navigation.active
	{
		width:100%;
		height:  calc(100% - 68px);
		position: fixed;
		top: 68px;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background: #FFFFFF;
	}
	header .navigation li 
	{
		margin-left: 0;
		height: 40px;
	}
	header .navigation li a
	{
		color: #111111;
		font-size: 1.6em;
		
	}
	.menuToggle
	{
		position:relative;
		width: 40px;
		height: 40px;
		background: url(assets/menu.png);
		background-size: 30px;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
	}
	.menuToggle.active
	{
		background: url(assets/close.png);
		background-size: 25px;
		background-repeat: no-repeat;
		background-position: center;
	}
	header.sticky .menuToggle
	{
		filter: invert(1);
	}
	.banner
	{
		padding: 50px;
	}
	.banner header
	{
		padding: 20px 50px;
	}
	.banner .content h2
	{
		font-size: 36px;
	}
	.banner .content p
	{
		font-size: 16px;
	}
	.about
	{
		flex-direction: column;
	}
	.about .contentBx,
	.about .imgBx
	{
		width: 100%;
		padding: 50px;
		min-height: 400px;
		text-align: center;
	}
	.services
	{
		padding: 50px;
	}
	.services .container
	{
		justify-content: center;
		margin-top: 20px;
	}
	.services .container .serviceBx
	{
		margin: 20px;
		width: 300px;
		height: 350px;
	}
	.technology
	{
		padding: 50px;
		padding-top: 300px;
		justify-content: center;
		flex-direction: column;
	}
	.technology .imgBx
	{
		margin-top: 40px;
		max-width: 250px;
	}
	.client
	{
		padding: 50px;
	}
	.client .imgBx
	{
		justify-content: center;
	}
	.testimonials
	{
		padding: 50px;
	}
	.testimonials .contentBx
	{
		padding: 60px 40px;
		max-width: 550px;
		margin-bottom: 40px;
	}
	.testimonials .contentbx:last-child
	{
		margin-bottom: 0px;
	}
	.contact{
		padding: 50px;
	}
	.footer
	{
		padding: 20px 50px;
		flex-direction: column-reverse;
		text-align: center;
	}
	.footer ul
	{
		margin-bottom: 20px;
	}
}

@media (max-width: 1350px)
{
	.services .container
	{
		justify-content: center;

	}
	.services .container .serviceBx
	{
		margin: 20px;
		width: 300px;
		height: 350px;
	}
	.testimonials .container
	{
		padding: 50px;
		justify-content: center;
	}
	.testimonials .contentBx
	{	
		padding: 60px 40px;
		max-width: 550px;
		margin-bottom: 40px;
	}
	.testimonials .contentbx:last-child
	{
		margin-bottom: 0px;
	}
}